/* Cores da Marca  
-vermelho vivo #991914
-vermelho bordô #3B0F11
-Cinza #706F6F
*/



@font-face {
    font-family: 'Fortifiquemedium' ;
    src: url('/Font/gotham-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
       
}
@font-face {
    font-family: 'Fortifiquelight' ;
    src: url('/Font/gotham-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icones' ;
    src: url(../Font/IconsSocialMedia.ttf) format('truetype');
 
}

*{
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    
    
}

.secao__inicial{
    height: 100vh;
    position: relative;
    background-image: url(../Assets/06menor.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
   
}



.cabecalho{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
    
}


.logo__cabecalho{
    width: 20%;
    padding: 20px;
}


.menu__itens{
    text-align: center;
    margin-right: 40px;
    font-family:  Fortifiquemedium, arial, sans-serif;
    font-weight: 900;
}

.link_menu{
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    font-size: 1em;
    text-decoration: none;
}

.botao{
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.596);
    border: green;
    padding: 10px;
}

.botao:hover {
    font-size: 1.3em;
}

.link_menu::before{
    content:"n";
    font-family: icones;
    font-size: 2em;
    text-transform: lowercase;
    margin-right: 10px;
}

.chamada__main{
    display: grid;
    height: 50vh;
    align-items: center;
    max-width: 80vw;
    margin:auto;
    
   
    
}
.heading{
    max-width: 80vw;
    padding: 25px;
    font-family: fortifiquemedium, arial, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    color: #cccccc;
    font-size: 2.5em;
    align-self: center;
    margin: auto;
    background-color: #3B0F11 ;
    border-radius: 15px;
    box-shadow: 6px 6px 13px 0 #000000;
    
  
}

.chamada__main p{
    font-family: fortifiquemedium, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 60px;
    background-color: #777575d3;
    border-radius: 15px ;
    max-width: 1000px;
    align-self: center;
    justify-self: center;
    box-shadow: 6px 6px 13px 0 #000000;
    
    
    
}

.principal{
    background-color: #706f6f63;
       
}


.titulos{
    display: flex;
    align-items: center;
    padding-left: 20px;
    max-width: 1080px;
    margin: 0 auto;
    font-family: fortifiquemedium, Arial, Helvetica, sans-serif;
    padding:20px ;
    font-size: 2em;
}
.imagem_marcador{
    display: inline-block;
    width: 5%;
}

.titulo_main{
    padding-left: 20px;
}

.texto_descrição{
    max-width: 1080px;
    font-family:fortifiquelight, arial, sans-serif;
    text-align: justify;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5;
    color: #000000;
    font-weight:500;
    padding:30px ; 
    box-shadow:6px 6px 13px 0 #000000;
    background-color:#706f6f88;
}

.beneficios{
   
    padding-bottom: 30px;
    margin: 0 auto;
    font-family: fortifiquelight, Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 1em;
}



.beneficios ol{
    
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type:decimal;
    text-align: justify;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    row-gap: 10px;
    column-gap: 45px;
    align-items: center;
    justify-content:center ;
    

}


.beneficios ol h2{
    font-weight: bold;
    font-family:fortifiquemedium, Arial, Helvetica, sans-serif;
    color: #3B0F11;
    
}

.imagem_beneficios{
    width: 70px;
}

.beneficios ol p{
    font-size: 0.8em;
    text-align: center;
}

.caixas_beneficios:hover{
    border-color: rgb(131, 23, 23)
}


.beneficios li:hover h2{
    font-size: 1.1em;

}

.caixas_beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap:8px;
    text-align: center;
    width: 330px;
    height:260px;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    border-color:rgb(112, 111, 111) ;
    border-width:2px ;           /*pode ser declarado em uma unica linha border:2px solid balck*/
    border-style: solid;
    border-radius: 30px;
}




.requisitos__habitese{
    
    padding-bottom: 30px;
    margin: 0 auto;
    font-family: fortifiquelight, Arial, Helvetica, sans-serif;
    line-height: 2;
    
}
.imagem_carta--habitese{
    float: right;
    max-width: 60%;
    margin-right: 25px;

}

.textos_descritivos{
    max-width: 1080px;
    text-align: justify;
    margin: auto;
    font-size: 1.2em;

}

.requisitos__habitese ul li{
    list-style-type: disc;
    margin: auto;
    max-width: 1080px;
    font-size: 1.2em;
    padding: 0 20px;
    
}

.tipos_habite-se{
    
    padding-bottom: 30px;
    font-family: fortifiquelight, Arial, Helvetica, sans-serif;
    line-height: 2;
    
}


.tipos_habite-se ul{
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
   
}
.tipos_habite-se li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    border: solid 2px #3B0F11;
    border-radius: 15px;
    padding: 25px;
    margin:30px auto;
   
}




.servicos h2{
    font-size: 1.5em;
    padding: 10px;
    margin:20px;
    font-family: fortifiquemedium, Arial, Helvetica, sans-serif;
}
.servicos p{
    max-width: 600px;
    font-family:fortifiquelight, arial, sans-serif;
    text-align: justify;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5;
    color: #000000;
    padding:30px ; 
   
}




/*________FORMULÁRIOS CONTATO____________*/

.flexcontainer_contatos_serviços{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0 30px
    
    
}


.contatos{
    border:solid 4px #3B0F11;
    max-width: 650px;
    
    
}

.contatos h2{
    color: rgb(0, 0, 0);
    font-family: fortifiquemedium, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin:20px 0;
    padding: 10px;
}
.formularios{
    color: rgb(0, 0, 0);
    font-family: Fortifiquelight, arial, serif;
    font-size: 20px;
    margin: auto;
    padding: 10px;

}
.bloco_formularios{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    
    
    
}

.formularios__label{
    align-self: center;
    
    

}
.formularios__input{
    padding: 10px 25px;
    margin: 0 0 20px;
    max-width: 300px;
    justify-self: start;
    
}


.input-padrao , form textarea{
    padding: 10px 25px;
    margin: 0 0 20px;
    max-width: 300px;

 
 
    
}

.preferencia__contato{
    display: grid;
    grid-template-columns: auto;
    grid-row: auto auto auto;
    row-gap: 10px;
    padding: 8px 0;
    align-items: center;
}

form legend{
    color: rgb(0, 0, 0);
    font-family: Fortifiquelight, arial, serif;
    font-size: 20px;
   
   
    

}

#checkprojeto-label{
    
    padding: 8px 0;
    display: block;
}

.enviar{
   
    margin: 10px auto;
    width: auto;
    padding: 2%;
    font-size: 20px;
    font-family:fortifiquemedium,Arial, Helvetica, sans-serif;
    color: rgb(112, 111, 111);
    background: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s all;
   
    

}

.enviar:hover{
    background: rgb(131, 23, 23);
    transform: scale(1.1);
}


footer{
    
    text-align: center;
    font-family: Fortifiquemedium, times, serif;
    color:rgb(112, 111, 111);
    padding: 20px;
    width: 100%;
    background-color: #706f6f7e;
    
  
  
}

footer img{
    width: 10%;
    margin: 20px;
    padding: 5px;
}

@media screen and (max-width:1240px){
    .beneficios ol{
        grid-template-columns: auto auto;
    }
    
    
}

@media screen and (max-width:1080px){
    .descricao p{
        width: 80vw;
     }
}


@media screen and (max-width:760px) {

    html,body{
        height: auto;
        

}

 

 .secao__inicial{
    height: 50vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    
    
 }
 .cabecalho{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
    
}
.logo__cabecalho{
    width: 50%;
    padding: 20px;
}



 .chamada__main{
    height: auto;
    max-width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
 }

 .imagem_marcador{
    width: 20%;
 }


 .heading{
    max-width: 300px;
    font-size: 1em;
    padding: 4px;
    text-align: center;
 }

 .chamada__main p{
    max-width: 80vw;
    padding: 4px;
    font-size: 1em;
    
 }
 
 .titulo_main{
    font-size: 0.7em;
    font-weight: 700;
    line-height: normal;
    text-align: center;
 }


 .texto_descrição{
    width: 80vw;
 }

 .textos_descritivos{
    padding: 0 20px;
 }

 .beneficios ol{
    display: flex;
    flex-direction: column;
 }
 .flexcontainer_contatos_serviços{
    display: flex;
    flex-direction: column;
 }
 .tipos_habite-se img{
    max-width:90vw;
}

footer img{
    width: 50%;

}





}